<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Изменить магазин</title>
    <meta http-equiv="Content-Type" content="application/json>">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div th:switch="${store}">
    <h2 th:case="null">Магазин не найден</h2>
    <div th:case="*">
        <form th:method="post" th:action="@{/stores/{id}(id=${store.idStore})}" th:object="${store}">
            <table border="1">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Address</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="*{idStore}"></td>
                    <td><input type="text" th:field="*{address}"></td>
                </tr>
                </tbody>
            </table>
            <p><input type="submit" value="Изменить"/></p>
        </form>
    </div>
</div>
</body>
</html>