<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Добавление магазина</title>
    <meta http-equiv="Content-Type" content="application/json>">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div>
    <h2>Добавить магазин</h2>
    <form th:method="put" th:action="@{/stores}" th:object="${store}">
        <label for="address">Адрес</label>
        <input type="text" th:field="*{address}" id="address" placeholder="Адрес">
        <input type="submit" value="Добавить магазин">
    </form>
</div>
</body>
</html>