<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список магазинов</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>

<div th:switch="${stores}">
    <h2 th:case="null">Магазинов нет</h2>
    <div th:case="*">
        <h2>Магазины</h2>
        <p>
        <form action="/stores/add">
            <input type="submit" value="Добавить новый"/>
        </form>
        </p>
        <table border="1">
            <thead>
            <tr>
                <th>Id</th>
                <th>Address</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="store : ${stores}">
                <td th:text="${store.idStore}"></td>
                <td th:text="${store.address}"></td>
                <td>
                    <form th:action="@{/stores/edit/{id}(id=${store.idStore})}">
                        <input type="submit" value="Изменить"/>
                    </form>
                </td>
                <td>
                    <form th:method="delete" th:action="@{/stores/{id}(id=${store.idStore})}">
                        <input type="submit" value="Удалить"/>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div>
    <p>
    <form th:method="GET" th:action="@{/stores/filtered}">
        <label for="nameInput">Поиск по имени: </label>
        <input type="text" name="address" id="nameInput"/>
        <br/>
        <input type="submit" value="Найти"/>
    </form>
    </p>
</div>
</body>
</html>