<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Изменить покупателя</title>
    <meta http-equiv="Content-Type" content="application/json>">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div th:switch="${consumer}">
    <h2 th:case="null">Покупатель не найден</h2>
    <div th:case="*">
        <form th:method="post" th:action="@{/consumers/{id}(id=${consumer.idConsumer})}" th:object="${consumer}">
            <table border="1">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Phone</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="*{idConsumer}"></td>
                    <td><input type="text"th:field="*{firstName}"></td>
                    <td><input type="text" th:field="*{lastName}"></td>
                    <td><input type="text" th:field="*{phone}"></td>
                </tr>
                </tbody>
            </table>
            <p><input type="submit" value="Изменить"/></p>
        </form>
    </div>
</div>
</body>
</html>