<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Изменить покупателя</title>
    <meta content="application/json>" http-equiv="Content-Type">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div>
    <h2>Добавить покупателя</h2>
    <form th:action="@{/consumers}" th:method="put" th:object="${consumer}">
        <label for="firstName">Фамилия</label>
        <input id="firstName" placeholder="Фамилия" th:field="*{firstName}" type="text">
        <label for="lastName">Имя</label>
        <input id="lastName" placeholder="Имя" th:field="*{lastName}" type="text">
        <label for="phone">Телефон</label>
        <input id="phone" placeholder="телефон" th:field="*{phone}" type="text">
        <input type="submit" value="Добавить покупателя">
    </form>
</div>
</body>
</html>