<!DOCTYPE HTML>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список покупателей</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div sec:authorize="isAuthenticated()" th:switch="${consumers}">
    <h2 th:case="null">Покупателей нет</h2>
    <div th:case="*">
        <h2>Покупатели</h2>
        <p>
        <div sec:authorize="hasRole('ADMIN')">
            <form action="/consumers/add">
                <input type="submit" value="Добавить нового"/>
            </form>
        </div>
        </p>
        <table border="1">
            <thead>
            <tr>
                <th>Id</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Phone</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="consumer : ${consumers}">
                <td th:text="${consumer.idConsumer}"></td>
                <td th:text="${consumer.firstName}"></td>
                <td th:text="${consumer.lastName}"></td>
                <td th:text="${consumer.phone}"></td>
                <td>
                    <form th:action="@{/consumers/edit/{id}(id=${consumer.idConsumer})}">
                        <input type="submit" value="Изменить"/>
                    </form>
                </td>
                <div sec:authorize="hasRole('ADMIN')">
                    <td>
                        <form th:action="@{/consumers/{id}(id=${consumer.idConsumer})}" th:method="delete">
                            <input type="submit" value="Удалить"/>
                        </form>
                    </td>
                </div>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div sec:authorize="hasRole('ADMIN')">
    <p>
    <form th:action="@{/consumers/filtered}" th:method="GET">
        <label for="nameInput">Имя: </label>
        <input id="nameInput" name="name" type="text"/>
        <br/>
        <br/>
        <label for="lastNameInput">Фамилия: </label>
        <input id="lastNameInput" name="lastName" type="text"/>
        <br/>
        <br/>
        <label for="phoneInput">Телефон: </label>
        <input id="phoneInput" name="phone" type="text"/>
        <br/>
        <input type="submit" value="Найти"/>
    </form>
    </p>
</div>
</body>
</html>