<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Изменить покупателя</title>
    <meta http-equiv="Content-Type" content="application/json>">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div>
    <h2>Добавить покупателя</h2>
    <form action="#" th:action="@{/consumers}" th:object="${consumer}" method="post">
        <label for="firstName">Фамилия</label>
        <input type="text" th:field="*{firstName}" id="firstName" placeholder="Фамилия">
        <label for="lastName">Имя</label>
        <input type="text" th:field="*{lastName}" id="lastName" placeholder="Имя">
        <label for="phone">Телефон</label>
        <input type="text" th:field="*{phone}" id="phone" placeholder="телефон">
        <input type="submit" value="Добавить покупателя">
    </form>
</div>
</body>
</html>