<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:switch="${consumers}">
    <h2>Покупатели</h2>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Phone</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="consumer : ${consumers}">
            <td th:text="${consumer.idConsumer}"></td>
            <td th:text="${consumer.firstName}"></td>
            <td th:text="${consumer.lastName}"></td>
            <td th:text="${consumer.phone}"></td>
        </tr>
        </tbody>
    </table>
</div>
<form th:method="GET" th:action="@{/consumers/filtered}">
    <label for="nameInput">Поиск по имени: </label>
    <input type="text" name="name" id="nameInput"/>
    <br/>
    <input type="submit" value="Найти"/>
</form>
</div>
</body>
</html>